body {
	width: 970px;

}

.banner {
	background-color: #F4F4F4;
}

.banner img {
	display: inline-block;
	width: 360px;
}

.banner h2 {
	display: inline-block;
	margin-left: 200px;
	vertical-align: top;
	color: #3A281F;
	font-family: arial;

}

.tabs {
	background-color: #DCE2E6;
	height: 40px;
}

.tabs li {
	display: inline-block;
	padding: 0px 5px;
	/*border-left: 1px solid #E5EAEF;*/
	border-right: 1px solid black;
	color: #6B6C68;
	margin-top: 10px;

}

.tabs li:first-child{
	border-left: 1px solid black;
}

.blank {
	background-color: #F4F4F4;
	width:970px;
	height: 40px;
}

.box {
	background-color: #FFFFFF;
	width: 200px; 
	height:38px;
	vertical-align: bottom;
	margin-left: 30px;
}

.black {
	background-color: #31312F; 
}

.main {
	height: 400px;
}

.main img { 
	display: inline-block;
	height: 340px;
	width: 250px;
	vertical-align: top;
	margin-top: 10px;

}

.content {
	display: inline-block;
	width: 700px;
}

.content h4 {
	margin-left: 10px;
	background-image: linear-gradient(to bottom, #FFDA5D, #FDD060, #FEC73A);
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 15px;
	font-family: arial;
	margin-bottom: 0px;

}

.transparent {
	vertical-align: top;
	background-color: #6B6B69;
	margin-top: 0px;
	margin-left: 10px;
	height: 300px;
}

.transparent p {
	color: #FAFAF8;
	font-family: arial;
	margin-left: 20px;
	margin-top: 0px;
	padding-top: 10px;
}







